{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}
    {% if site_url %}
        <a href="{{ admin_site_url|default:site_url }}">{% translate admin_view_site_text|default:'View site' %}</a> /
    {% endif %}
    {% if user.is_active and user.is_staff %}
        {% url 'admin:password_change' as password_change_url %}
        {% if password_change_url %}
            <a href="{{ password_change_url }}">
        {% else %}
            <a href="{{ root_path }}password_change/">
        {% endif %}
        {% translate 'Change password' %}</a> /
    {% endif %}
    {% if i18n_urls %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            {% if language.code != LANGUAGE_CODE %}
                <a href="{% url 'set_language' %}?language={{ language.code }}&next={{ request.path }}">{{ language.name_local }}</a> /
            {% endif %}
        {% endfor %}
    {% endif %}
    {% url 'admin:logout' as logout_url %}
    {% if logout_url %}
        <a href="{{ logout_url }}">
    {% else %}
        <a href="{{ root_path }}logout/">
    {% endif %}
    {% translate 'Log out' %}</a>
{% endblock %} 